PORT=3000

OCR_SPACE_API_KEY=

CC_CLIENT_ID=
CC_CLIENT_SECRET=
CC_REDIRECT_URI=http://localhost:3000/auth/callback
CC_LIST_NAME=General Interest
CC_CUSTOM_FIELD_LABEL=Lead Source
CC_FROM_EMAIL=
CC_FROM_NAME=
